<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= typeof title !== 'undefined' ? title : 'Universal React' %></title>
    <%= typeof headHtmlSnippet !== 'undefined' ? headHtmlSnippet : null %>
  </head>
  <body>
    <div id="app"><%= typeof content !== 'undefined' ? content : null %></div>
    <%= typeof bodyHtmlSnippet !== 'undefined' ? bodyHtmlSnippet : null %>
  </body>
</html>